.wrapper {
  padding: 16px 0;
  border-top: 1px solid #e3e3e4;
}

.label {
  padding: 8px;
  color: #161823bf;
  font-size: 1.4rem;
  font-weight: 600;
}

.account-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.item-info {
  margin-left: 12px;
  flex: 1;
}

.nickname {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: #161823;
}

.check {
  font-size: 1.4rem;
  margin-left: 4px;
  color: #20d5ec;
}

.name {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #161823bf;
}

.more-btn {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--primary);
  padding: 8px;
  cursor: pointer;
  display: inline-block;
}
