.wrapper {
  margin-bottom: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 8px;
  //   padding-left: 0;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;

  &.active {
    color: var(--primary);
    &.svg {
      fill: var(--primary);
    }
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  img {
    border-radius: 50%;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-left: 8px;
}
