// Menu Wrapper
.menu-list {
  min-width: 224px;
  max-width: 324px;

  .menu-item {
    margin-left: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
}

// menu list
.menu-body {
  overflow-y: overlay;
  overscroll-behavior: contain;

  // làm tạm
  /* Điều chỉnh thanh cuộn */
  &::-webkit-scrollbar {
    height: 10px;
    width: 8px;
  }

  /* Điều chỉnh phần cầm của thanh cuộn */
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
  }

  /* Điều chỉnh vùng nền của thanh cuộn */
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
}

// Menu items
.menu-item {
  width: 100%;
  padding: 11px 16px;
  border-radius: 0;
  line-height: 1.8rem;
  font-weight: 600;
  justify-content: flex-start;

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

// Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  border-bottom: 1px solid rgb(227, 227, 228);
  flex-shrink: 0;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
